* {
  margin: 0;
  padding: 0;
}

/* Carusel */

.wrapper-punkt1 {
  background-color: #ccc;
  padding: 30px 0;
}

.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  border: 5px solid #fff;;
  width: 600px;
  height: 400px;
  box-shadow: 0 0 15px #000;
}

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
}

/* Carousel Controls */

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 190px;
  width: 45px;
  height: 45px;
  text-align: center;
  background: rgba(169, 169, 169, .9);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 36px/40.5px Arial, sans-serif;
}

.jcarousel-control-prev {
  left: 10px;
}

.jcarousel-control-next {
  right: 10px;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .3;
  cursor: default;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
  background: rgba(128, 128, 128, .9);
}

/* Carousel Pagination */

.jcarousel-pagination {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  background: #fff;
  color: #000;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75;
}

.jcarousel-pagination a.active {
  background: rgba(169, 169, 169, .9);
  color: #000;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

/* Select */

.wrapper-punkt2 {
  background-color: #FAFAFA;
  padding: 30px 0;
}

.wrapper-select {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px #000;
  padding: 30px;
  box-sizing: border-box;
}

.wrapper-select label {
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
}

.chosen-select {
  width: 100%;
}

/* Checkbox jQuery */

.wrapper-punkt3 {
  height: 300px;
  background-color: #ccc;
  padding: 30px 0;
}

.wrapper-checkbox form {
  margin: 50px;
  padding: 50px;
}

.niceCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox.png);
  overflow: hidden;
}
.niceChecked {
  background-position: 0 -17px;
}
.niceCheck input {
  margin-left: -100px;
}
.niceCheckDisabled {
  background-image: url(../img/checkbox-disabled.png);
}

/* Checkbox CSS */



/*  Menu  */

.wrapper-punkt4 {
  background-color: #FAFAFA;
  padding: 30px 0;
  height: 400px;
}

.wrapper-nav {
  background-color: rgb(255,100,100);
  padding: 10px 0;
}

nav {
  margin: 0 auto;
  width: 80%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav li ul {    
  background-color: rgb(225,75,75);
  position: absolute;
  left: 0;
  top: 40px; 
  width: 200px;
}

nav li li {
  position: relative;
  margin: 0;
  display: block;
}

nav li li ul {
  position: absolute;
  top: 0;
  left: 200px; 
  margin: 0;
}

nav a {
  line-height: 40px;
  padding: 0 12px;
  margin: 0 12px;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: rgb(50,50,50);
}

nav li li a {
  border-bottom: solid 1px rgb(200,50,50);
  margin: 0 10px;
  padding: 0;
}

nav li li:last-child a {
  border-bottom: none;
}

ul.submenu {
  display: none;
}

nav li.dropdown > a {
  background-image: url('../img/arrow-down.png');
  background-position: right 20px;
  background-repeat: no-repeat;
}

nav li li.dropdown > a {
  background-image: url('../img/arrow-right.png');
  background-position: right 16px;
  background-repeat :no-repeat;
}